body {
    background-color: #000;
    overflow: hidden;
    /* transform: scale(1.1) translateX(40px); */
}
#container {
    position: absolute;
    transition: left 0.5s, top 0.5s;
}
#map {
    background-color: #000;
}
#stats {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.flex-item {
    height: 32px;
    display: flex;
}
.tile {
    position: absolute;
    width: 96px;
    height: 96px;
}
.player, .monster {
    position: absolute;
    transition: left 0.3s, top 0.3s;
    width: 32px;
    height: 32px;
    z-index: 1;
}
.control {
    cursor: pointer;
    position: absolute;
    background: url("/assets/controls/cursor_green.png");
    width: 32px;
    height: 32px;
}
.control:hover {
    background: url("/assets/controls/cursor_yellow.png");
}

#fight {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 64px;
    background-color: #CCC;
    z-index: 1;
}
#fightContainer {
    position: relative;
    margin: 0 auto;
    height: 32px;
}
#fightPlayer {
    display: flex;
    position: absolute;
    left: 45%;
}
#fightEnemy {
    display: flex;
    position: absolute;
    left: 55%;
}

.enemyImg, .playerImg {
    position: absolute;
    width: 100px;
    height: 100px;
    bottom: 0px;
}

.playerImg {
    left: -100px;
}

.enemyImg {
    right: -100px;
}