body {
    background-color: #000;
    overflow: hidden;
}
#container {
    position: absolute;
    transition: left 0.5s, top 0.5s;
}
#map {
    background-color: #000;
}
#stats {
    color: #fff;
}
.tile {
    position: absolute;
    width: 96px;
    height: 96px;
}
.player, .monster {
    position: absolute;
    transition: left 0.3s, top 0.3s;
    width: 32px;
    height: 32px;
    z-index: 1;
}
.control {
    cursor: pointer;
    position: absolute;
    background: url("/assets/controls/cursor_green.png");
    width: 32px;
    height: 32px;
}
.control:hover {
    background: url("/assets/controls/cursor_yellow.png");
}